.container
{
    width: 90vw;
    height:25rem;
    margin-left: 5%;
    margin-top: 2vw;
    display: flex;
}

body
{
    padding: 0;
    margin: 0;
    width: 98vw;
    height: 98vh;
    background: linear-gradient(45deg, #9890e3, #b1f4cf);
    background-size: cover;
}
