.container
{
    background-color: rgb(219, 228, 250);
    margin-left: 2vw;
    align-self: flex-start;
    img{
        height: 20vh;
    }

 
}

.izb
{
    align-items: center;
    display: flex;
    img
    {
        height: 4vh;
    }

    span
    {
        font-weight: 700;
        font-size: 2vw;
        color: chocolate;
    }

    span:hover
    {
        cursor: pointer;
    }
}

.butt
{
    border-radius: 0.3vw;
    border:none;
    background-color: blueviolet;
    color:white;
    font-weight: 600;
    font-size: 1.5vw;
}

.butt:hover
{
    background-color: rgb(73, 51, 94);
    color:rgb(245, 245, 245);
    transition-duration: 0.5s;
}

@media screen and (max-width:370px) {
    .container
    {
    span
    {
        margin-left: 1vw;
        font-weight: 700;
        font-size: 3vw;
        color: chocolate;
    }
    img {
        margin-right: 3vw;
    }

    h1
    {
        font-size:1.3rem;
    }

    .butt
    {
        margin-right: 0.1rem;
        font-size: 0.5rem;
    }

    }
}

@media screen and (min-width:1200px) {

    .container
    {
    span
    {
        margin-left: 1vw;
        font-weight: 700;
        font-size: 2vw;
        color: chocolate;
    }


    img
    {
        height: 20rem;
    }

    h1
    {
        font-size:1.3rem;
    }

    .butt
    {
        margin-right: 0.1rem;
        font-size: 1rem;
    }

    }
    
    .im
    {
        height: 5rem !important;
    }

}